/* wor sans font form google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@600&family=Work+Sans:wght@400;600;800&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* global css */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 20px 25px;
  font-size: 1.25rem;
  border: 0px;
  cursor: pointer;
}
.text-gry {
    color: #727272;
  }

/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img{
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.team-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;

}
.team-title{
    font-size: 2.8rem;

}
.team-title, .quick{
    color: #727272;
    font-weight: 500;
}
.team-title, .our{
    color: #131313;
    font-weight: 700;
}
.team-title, .feat{
    color: #FF900E;
    font-weight: 700;
}
.facts-cards{
  display: flex;
  justify-content: space-around;
  font-size: 2.8rem;

}
.facts-cards .card-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
  

}
.facts-cards .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  font-size: 2.8rem;
  padding: 30px;
}
.facts-cards .card-stat{
  font-size:2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}






/* responsive media query */
/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    .team-content{
        padding-right:20px;
        padding-left: 20px;
    
    }
    nav, .team-container{
        flex-direction: column;
      }
      .team-img{
        grid-template-columns: 1fr;
    }
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav, .team-container{
        flex-direction: column;
      }
      header{
        padding: 50px;
    }
}